<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Dojo Survey</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <style>
        * {
            margin:0;
            padding: 0;
            box-sizing: border-box;
        }
    </style>
</head>
<body>
    <div class="container mt-5 border border-dark p-5">
        <form action="method" method="POST">
            <div class="input-group d-flex justify-content-center">
                <p>Your Name: <input type="text" name="name"></p>
            </div>
            <div class="input-group d-flex justify-content-center">
                <p>Dojo Location: <select name="location">
                    <option value="sanjose">San Jose</option>
                    <option value="seattle">Seattle</option>
                    <option value="dallas">Dallas</option>
                    <option value="tysons">Tysons</option>
                </select></p>
            </div>
            <div class="input-group d-flex justify-content-center">
                <p>Favorite Language: <select name="language" id="">
                    <option value="webfun">Html/Css/Js</option>
                    <option value="python">Python</option>
                    <option value="C#">C#</option>
                    <option value="mern">MERN</option>
                </select></p>
            </div>
            <div class="input-group d-flex justify-content-center">
                <p>Comment(optional): <br>
                <textarea name="comment" id="" cols="30" rows="3"></textarea>  
                </p>
            </div>
            <div class="input-group d-flex justify-content-center">
                <input type="submit" value="Submit">
            </div>
        </form>  
    </div>




<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
    integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
    crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
    integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
    crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
    integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
    crossorigin="anonymous"></script>
</body>
</html>